body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu{
    background-color: black;
    color: white;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;

}
.menu li{
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
}
.menuItem{
    float: right;
}
.myname{
    float: left;
}
.banner{
    width: 100%;
}
.bio{
    float: right;
    margin-top: 40px;
    padding-left: 40px;
    height: auto;
    width: auto;
}
.container {
    display: flex;
    align-items: center;
}
.text{
    padding-left: 40px;
    margin-left: 40px;
    font-size: x-large;
}
.presentation{
    text-align: center;
}
.grid-container {
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    padding: 40px;
}
.grid-box {
    background-color: #ffffffbf;
    height: auto;
    width: 25%;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.button {
    bottom: 10px;
    left: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mywork{
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  .myworktitle{
    width: 50%;
    text-align: center;
  }
  
  .portfolio{
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row1{
    display: flex;
    align-items: center;
  }
  .row2{
    display: flex;
    justify-content: space-evenly;
  }
.first{
    padding-right: 1px;
}
.last{
    padding-left: 1px;
}

.desc {
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;

  }
  .desc-header{
    padding-top: 70px;
    text-align: center;
}
.desc-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.desc-item {
    height: auto;
    width: 25%;
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.italic{
    font-style: italic;
}